service: shacklebolt-serverless 

# define custom variables 
custom:
  stage: ${opt:stage, self:provider.stage}
  dynamoThroughputs:
    dev: 1
    default: 1
  tagsTable:
    name: shacklebolt-tags-${self:custom.stage}
    throughput: ${self:custom.dynamoThroughputs.${self:custom.stage}, self:custom.dynamoThroughputs.default}
  filesTable:
    name: shacklebolt-files-${self:custom.stage}
    throughput: ${self:custom.dynamoThroughputs.${self:custom.stage}, self:custom.dynamoThroughputs.default}
  s3Storage:
    name: shacklebolt-storage-${self:custom.stage}

# define global service values 
provider:
  name: aws
  runtime: python3.6
  tags:
    project: shacklebolt
    team: innovation
  profile: default # aws config provile to use from ~/.aws/config
  apiName: shacklebolt
  stackTags: # Optional CF stack tags
    team: innovation
    project: shacklebolt
  environment:
    DYNAMO_TAGS_TABLE: ${self:custom.tagsTable.name}
    DYNAMO_FILES_TABLE: ${self:custom.filesTable.name}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "Fn::GetAtt": [ FilesTable, Arn ]
        - "Fn::GetAtt": [ TagsTable, Arn ]
    - Effect: Allow
      Action:
        - s3:GetObject
        - s3:ListBucket
        - s3:PutObject
      Resource:
        - "Fn::GetAtt": [ StorageBucket, Arn ]

# define individual functions
functions:
  index:
    description: indexes files and returns a signed s3 url for uploading the actual file. URL is good for 1 hour
    handler: index.handler
    events:
      - http:
          path: index
          method: post
          authorizer:
            name: authorizer
            arn: arn:aws:cognito-idp:us-east-1:660239660726:userpool/us-east-1_FfH14h8MR
          cors:
            origin: '*'
            maxAge: 86400

  search:
    description: searches for matching files and returns all file metadata
    handler: search.handler
    events:
      - http:
          path: search
          method: get
          authorizer:
            name: authorizer
            arn: arn:aws:cognito-idp:us-east-1:660239660726:userpool/us-east-1_FfH14h8MR
          cors:
            origin: '*'
            maxAge: 86400

# Create resources with separate CloudFormation templates
resources:
  # DynamoDB
  - ${file(./resources/dynamo-tags.yaml)}
  - ${file(./resources/dynamo-files.yaml)}
  # S3
  - ${file(./resources/s3-storage.yaml)}